body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}
.App {
  width: 100dvw;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF;
}


.textOnCenter {
  text-align: center;
}

.App-us-section {
  width: 100%;
  height: 100vh;
  height: 10000px;
}

.App-us-section-container {
  display: flex;
  justify-content: center;
  gap: 2.5%;
}

.App-us-section-element-div {
  width: 20%;
  aspect-ratio: 1.5;
  padding: 1.25%;
  border: rgb(41, 41, 41) 3px solid;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 5px white);
  background-color: black;
}

.App-us-section-element-h1 {
  margin: 0;
}

.App-us-section-element-p {
  height: 100%;
  color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
  align-items: center;
}