body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}
.App {
  width: 100dvw;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF;
}
.App-header {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-header-title {
  font-size: 100px;
  font-weight: bold;
}
.App-header-div-title-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.App-header-slogan-text {
  font-size: 30px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  min-height: 1.5em;
}

.App-us-section {
  width: 100%;
  height: 100vh;
  height: 10000px;
}

.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: #000; */
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.navbarSectionsDiv {
  display: flex;
  width: 75%;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  margin-bottom: 1%;
}

.navbarSectionsDivLink {
  padding: 1% 5% 1% 5%;
  border: rgb(41, 41, 41) 3px solid;
  border-radius: 999px;
  background-color: rgb(12, 12, 12);
  cursor: default;
  filter: drop-shadow(0px 0px 4px white);
}

.navbarSectionsDivLink:hover {
  cursor: pointer;
}

.navbarSectionsDivLinkSelected {
  background-color: rgb(41, 41, 41);
  filter: none;
}

.navbarSectionsDivLinkp {
  margin: 0;
  padding: 0;
}